{{> header}}
    <div class= "container" style="padding-top: 40px">
        <div class="row">
            <div class="col-12">
                <form method = "POST" action ="/admin/profileTextField">
                    <div class="form-group">
                        {{#if err}}
                            <div class ="row">
                                {{#each err}}
                                    <div class="col-12">
                                        <div class="alert alert-warning" role="alert">
                                        {{this.msg}}
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{else}}
                            <div class="noResult"></div>
                        {{/if}}
                        <label for="exampleFormControlInput1">Customer ID:</label>
                        <input type="text" name ="profileTextField" class="form-control" id="exampleFormControlInput1" placeholder="Enter Customer ID">
                        <div class="buttonClick" style="padding-top: 15px">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="displayResults">
            <div class="result">
                {{#if result}}
                    <div class="row">
                            <div class="col-12">
                                <h5>Name Of Adoptor : {{result.nameOfAdoptor}}</h5>
                                <h5>Pet Color : {{result.petColor}}</h5>
                                <h5>Name of Pet : {{result.nameOfPet}}</h5>
                                <h5>Email Of Adoptor : {{result.emailOfAdoptor}}</h5>
                                <h5>Phone Number : {{result.phoneNumber}}</h5>
                                <h5>Pet ID : {{result.petID}}</h5>
                                <h5>Pet Price : {{result.petPrice}}</h5>
                                <h5>Bank Name : {{result.bankName}}</h5>
                                <h5>Card Number : {{result.cardNumber}}</h5>
                                <h5>Date Of Adoption : {{result.dateOfAdoption}}</h5>
                            </div>
                    </div>
                {{else}}
                    <div class="noting"></div>
                {{/if}}
            </div>
        </div>
    </div>
{{> footer}}